<div class="modal-dialog">
	<div class="modal-content">
		<form class="form" id="RoleEdit" data-id="RoleEdit" role="form">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">角色编辑列表</h4>
			</div>
			<div class="modal-body">
				<p type="text" class="role_id hide"></p>
				<div class="form-group ">
					<label for="role">角色名:</label>
                    <input type="text" class="form-control" id="role" name="role" placeholder="请输入角色名">
				</div>				
			</div>
			<div class="modal-footer g-t-center">
				<button type="submit" class="btn btn-flat btn-primary role_edit">提交</button>
			</div>
		</form>
	</div>
	<!-- /.modal-content -->
</div>
<script src="{$__STATIC__}/js/js/jquery-validate/jquery.validate.min.js"></script>
<script src="{$__STATIC__}/js/js/jquery-validate/messages_zh.js"></script>