<link rel="stylesheet" href="{$__STATIC__}/css/jquery.treeview.css" />
<script src="{$__STATIC__}/js/jquery.treeview.js"></script>
<div class="modal-dialog">
	<div class="modal-content">
		<form class="form" id="PowerEdit" role="form">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">权限设置列表</h4>
			</div>
			<p type="text" class="powerRole_id hide"></p>
			<div class="modal-body">
				<div class="power">
					
				</div>
			</div>
			<div class="modal-footer g-t-center">
				<button type="submit" class="btn btn-flat btn-primary power_edit">提交</button>
			</div>
		</form>
	</div>
	<!-- /.modal-content -->
</div>
