
<link href="/static/admin/themes/flat/theme.min.css" rel="stylesheet">
<link href="/static/admin/css/simplebootadmin.css" rel="stylesheet">
<link href="/static/admin/font-awesome/4.4.0/css/font-awesome.min.css"  rel="stylesheet" type="text/css">
<style>
    .length_3{width: 180px;}
    form .input-order{margin-bottom: 0px;padding:3px;width:40px;}
    .table-actions{margin-top: 5px; margin-bottom: 5px;padding:0px;}
    .table-list{margin-bottom: 0px;}
</style>
<!--[if IE 7]>
<link rel="stylesheet" href="/static/admin/font-awesome/4.4.0/css/font-awesome-ie7.min.css">
<![endif]-->


<style>.expander{margin-left: -20px;}</style>
</head>
<body>
    <div class="wrap js-check-wrap">

        <div class="form-actions">
            关于我们
        </div>
        <div class="table_full">
            <img src="http://3.im.guokr.com/hBksFFqRwqy4VTjvdpq4GFaR6RaedFECJ2odAuWFot-4AQAAJQEAAEpQ.jpg">
        </div>
    </div>
</body>