<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="/static/tmpl/lib/bootstrap/bootstrap.min.css" />
		<title></title>
	</head>

	<body>
		<div class="container">
			<div id="orm" posturl="{$json_url}"></div>
		</div>
		<script type="text/javascript" data-main="/static/tmpl/src/main" src="/static/tmpl/src/require.js?v=1"></script>
	</body>

</html>