<div class="modal-dialog">
	<div class="modal-content">
		<form class="form" id="formUpload" role="form" action="" method="post" enctype="multipart/form-data">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">导入菜单</h4>
			</div>
			<div class="modal-body">
				<div class="form-group ">
					<label for="upload">导入菜单:</label>
                    <input type="file" class="form-control" id="upload" name="upload_file">
				</div>				
			</div>
			<div class="modal-footer g-t-center">
				<button type="submit" class="btn btn-flat btn-primary upload_btn">提交</button>
			</div>
		</form>
	</div>
	<!-- /.modal-content -->
</div>
