<link rel="stylesheet" href="{$__STATIC__}/css/bootstrap/bootstrap.min.css" />
<!-- 基础样式 -->
<link rel="stylesheet" type="text/css" href="{$__STATIC__}/css/style.css"/>	
<div class="row index_row">
	<div class="col-lg-6">
		<div class="develop-img">
			<img class="index_img" src="{$__STATIC__}/img/aa.jpg" alt="">	
		</div>
											
	</div>
	<div class="col-lg-6 develop-info">
		<div class="develop">
			<h3>开发者</h3>
			<p>Nullyang&nbsp;&nbsp;&nbsp;&nbsp;须弥叫</p>
		</div>
		<div class="develop">
			<h3>系统通知</h3>
			<p>BBCMF一期上线了！</p>
		</div>
		<div class="develop">
			<h3>系统信息</h3>
			<div class="develop-list">
				<p><span>操作系统：</span>{$uname}</p>
				<p><span>运行环境：</span>{$apache_info}</p>
				<p><span>PHP运行方式：</span>{$sapi_name}</p>
				<!-- <p><span>MYSQL版本：</span>5.6.16</p> -->
				<p><span>程序版本：</span> V1.0.0    [BBCMF]</p>
				<p><span>上传附件限制：</span>{$upload_max_filesize}</p>
				<p><span>执行时间限制：</span>{$max_execution_time}</p>
				<!-- <p><span>剩余空间：</span>45283.37M</p>		 -->
			</div>																			
		</div>
	</div>								
</div>