<!doctype html>
<html>
<head>
	{include file="../app-cmf/application/install/view/public/head.html" /}
</head>
<body>
<div class="wrap">
	{include file="../app-cmf/application/install/view/public/header.html" /}
	<div class="section">
		<div class="main">
				<pre class="agreement">BBCMF软件使用协议

版权所有 © BabyBus - Null Yang

感谢您选择BBCMF内容管理框架, 希望我们的产品能够帮您把网站发展的更快、更好、更强！

BBCMF基于 ThinkPHP5 框架开发

BBCMF建站系统由宝宝巴士发起并开源发布。
简书地址：http://www.jianshu.com/users/40d1942dc1a4/latest_articles

ThinkCMF免责声明
  1、使用BBCMF构建的网站的任何信息内容以及导致的任何版权纠纷和法律争议及后果，BBCMF官方不承担任何责任。
  2、您一旦安装使用BBCMF，即被视为完全理解并接受本协议的各项条款，在享有上述条款授予的权力的同时，受到相关的约束和限制。</pre>
		</div>
		<div class="bottom text-center">
			<a href="/index.php/install/Index/step2.html?_app_=cmf&g=install" class="btn btn-primary">接受</a>
		</div>
	</div>
</div>
{include file="../app-cmf/application/install/view/public/footer.html" /}
</body>
</html>